[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
max_line_length = 80
ij_continuation_indent_size = 8
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = false
ij_visual_guides = 80, 90
ij_wrap_on_typing = false

[*.{kt,kts}]
ij_kotlin_name_count_to_use_star_import = 999999
ij_kotlin_name_count_to_use_star_import_for_members = 999999
indent_size = 4
indent_style = space
tab_width = 4

[*.{md,yml}]
indent_size = 2
indent_style = space
tab_width = 2

[.github/ISSUE_TEMPLATE/*.md]
max_line_length = off
ij_visual_guides = none

[gradle/*.toml]
max_line_length = off
ij_visual_guides = none
