# Copyright 2022-2023 Loïc Lamarque.
# Use of this source code is governed by the MIT license.

#################################### Gradle ####################################

# Directories
build/
.gradle/

# Files
!gradle-wrapper.jar

################################ Java & Kotlin #################################

# Directories
.mtj.tmp/
target/

# File extensions
*.class
*.ctxt
*.ear
*.hprof
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip

# Files
hs_err_pid*
Playground.kt

################################ Jetbrains IDEs ################################

# Directories
.idea*/
cmake-build-*/
out/

# File extensions
*.iml
*.ipr
*.iws

# Files
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics*.properties
fabric.properties

#################################### macOS #####################################

# Directories
.apdisk/
.AppleD*/
Network Trash Folder/
Temporary Items/

# File extensions
._*

# Files
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

################################### Windows ####################################

# Directories
$RECYCLE.BIN/

# File extensions
*.cab
*.exe
*.ini
*.lnk
*.msi*
*.msm
*.msp
*.stackdump

# Files
ehthumbs*.db
Thumbs.db*
