# Gradle wrapper for Unix-based systems should use Line Feed (LF) endings.
/gradlew        text eol=lf

# Windows script files should use Carriage Return Line Feed (CRLF) endings.
*.bat           text eol=crlf

# Binary files should be left untouched.
*.jar           binary
