name: API reference
on:
  push:
    branches: [ main ]
    paths:
      - .github/workflows/api-reference.yml
      - documentation/api-reference/current/**
  workflow_dispatch:
jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.7.1
        with:
          folder: documentation/api-reference/current
          git-config-name: ${{ secrets.GIT_USER }}
          git-config-email: ${{ secrets.GIT_EMAIL }}
          ssh-key: ${{ secrets.ADMIN_DEPLOY_KEY }}
