name: Integration (types-internal)
on:
  pull_request:
    branches: [ main ]
    paths:
      - .github/workflows/integration-types-internal.yml
      - gradle/**
      - subprojects/internal/build.gradle.kts
      - subprojects/internal/src/**
      - build.gradle.kts
      - gradle.properties
      - gradlew
      - gradlew.bat
      - settings.gradle.kts
      - yarn.lock
  push:
    branches: [ main ]
    paths:
      - .github/workflows/integration-types-internal.yml
      - gradle/**
      - subprojects/internal/build.gradle.kts
      - subprojects/internal/src/**
      - build.gradle.kts
      - gradle.properties
      - gradlew
      - gradlew.bat
      - settings.gradle.kts
      - yarn.lock
  workflow_dispatch:
env:
  GRADLE_HOME_CACHE_CLEANUP: true
  JAVA_DISTRIBUTION: temurin
  JAVA_VERSION: 17
jobs:
  # --------------------------------- Stage 1 ----------------------------------
  gradle-wrapper-validation:
    name: Gradle wrapper validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.2
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v2.1.2
  # --------------------------------- Stage 2 ----------------------------------
  ubuntu-checks:
    name: Checks on Ubuntu
    needs: gradle-wrapper-validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.2
      - name: Setup Java
        uses: actions/setup-java@v4.2.1
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3.1.0
        with:
          gradle-home-cache-cleanup: ${{ env.GRADLE_HOME_CACHE_CLEANUP }}
      - name: Check Gradle plugins
        run: ./gradlew :plugins:check
      - name: Test on Kotlin/JS
        run: ./gradlew :types-internal:jsTest
      - name: Test on Kotlin/JVM
        run: ./gradlew :types-internal:jvmTest
      - name: Test on Kotlin/Native for Linux x64
        run: ./gradlew :types-internal:linuxTest
      - name: Test on Kotlin/Native for MinGW x64
        run: ./gradlew :types-internal:windowsTest
  macos-12-checks:
    name: Checks on macOS 12
    needs: gradle-wrapper-validation
    runs-on: macos-12
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.2
      - name: Setup Java
        uses: actions/setup-java@v4.2.1
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3.1.0
        with:
          gradle-home-cache-cleanup: ${{ env.GRADLE_HOME_CACHE_CLEANUP }}
      - name: Test on Kotlin/Native for macOS x64
        run: ./gradlew :types-internal:macosTest
