name: Integration
on:
  pull_request:
    branches: [ main ]
    paths:
      - '**gradle*'
      - '**.java'
      - '**.kt*'
      - .github/workflows/integration.yml
      - api/types.api
      - gradle/libs.versions.toml
      - qodana.yaml
      - yarn.lock
  push:
    branches: [ main, release/* ]
    paths:
      - '**gradle*'
      - '**.java'
      - '**.kt*'
      - .github/workflows/integration.yml
      - api/types.api
      - gradle/libs.versions.toml
      - qodana.yaml
      - yarn.lock
  workflow_dispatch:
env:
  GRADLE_DEPENDENCY_GRAPH: |
    ${{
      github.event_name == 'push' && github.ref_name == 'main'
          && 'generate-and-submit'
          || 'disabled'
    }}
  JAVA_DISTRIBUTION: temurin
  JAVA_VERSION: 17
jobs:
  # ---------- Stage 1 ----------
  gradle-wrapper-validation:
    name: Gradle wrapper validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.0.0
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v2.0.0
  static-code-analysis:
    name: Static code analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.0.0
      - name: Scan code
        uses: JetBrains/qodana-action@v2023.3.1
        with:
          args: --fail-threshold,0
          pr-mode: false
  # ---------- Stage 2 ----------
  js-test:
    name: Kotlin/JS tests
    needs: gradle-wrapper-validation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.0.0
      - name: Setup Java
        uses: actions/setup-java@v4.0.0
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.12.0
        with:
          dependency-graph: ${{ env.GRADLE_DEPENDENCY_GRAPH }}
      - name: Test 'internal' subproject
        run: ./gradlew :types-internal:jsTest
      - name: Test root project
        run: ./gradlew :jsTest
  jvm-checks:
    name: Kotlin/JVM checks
    needs: gradle-wrapper-validation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.0.0
      - name: Setup Java
        uses: actions/setup-java@v4.0.0
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.12.0
        with:
          dependency-graph: ${{ env.GRADLE_DEPENDENCY_GRAPH }}
      - name: Test 'internal' subproject
        run: ./gradlew :types-internal:jvmTest
      - name: Test 'java-compatibility' subproject
        run: ./gradlew :java-compatibility:test
      - name: Check root project
        run: ./gradlew :jvmTest :jvmApiCheck
  linux-test:
    name: Kotlin Native tests for Linux
    needs: gradle-wrapper-validation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.0.0
      - name: Setup Java
        uses: actions/setup-java@v4.0.0
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.12.0
        with:
          dependency-graph: ${{ env.GRADLE_DEPENDENCY_GRAPH }}
      - name: Test 'internal' subproject
        run: ./gradlew :types-internal:linuxTest
      - name: Test root project
        run: ./gradlew :linuxTest
  macos-test:
    name: Kotlin Native tests for macOS
    needs: gradle-wrapper-validation
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.0.0
      - name: Setup Java
        uses: actions/setup-java@v4.0.0
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.12.0
        with:
          dependency-graph: ${{ env.GRADLE_DEPENDENCY_GRAPH }}
      - name: Test 'internal' subproject on macOS x64
        run: ./gradlew :types-internal:macosTest
      - name: Test 'internal' subproject on macOS arm64
        run: ./gradlew :types-internal:macosArm64Test
      - name: Test root project on macOS x64
        run: ./gradlew :macosTest
      - name: Test root project on macOS arm64
        run: ./gradlew :macosArm64Test
  windows-test:
    name: Kotlin Native tests for Windows
    needs: gradle-wrapper-validation
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.0.0
      - name: Setup Java
        uses: actions/setup-java@v4.0.0
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.12.0
        with:
          dependency-graph: ${{ env.GRADLE_DEPENDENCY_GRAPH }}
      - name: Test 'internal' subproject
        run: ./gradlew :types-internal:windowsTest
      - name: Test root project
        run: ./gradlew :windowsTest
